* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* clearfix */
.clear {
    clear: both;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: white;
}

body {
    background-color: #676a8c;
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation bar */
nav {
    display: flex;
    padding: 5px 20px;
    align-items: center;
    background-color: #2d354a;
    height: 70px;
    width: 100%;
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 10px;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 70px;
}

nav a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    letter-spacing: 2px;
}

a.active,
a.hover {
    border: 1px solid white;
    background-color: #676a8c;
}

.logo {
    flex: 1;
    opacity: 50%;
}

.logo img {
    width: 82px;
    margin-right: 10px;
    z-index: -1;
    margin-left: -30px;
}

.logo img + img {
    width: 180px;
    margin-right: 10px;
    margin-left: -19px;
    margin-bottom: -4px;
}

/* main body */
.container {
    /* border: 30px solid white; */
    background-color: #E6E3F4;
    height: auto;
    width: 60%;
    margin: auto;
    padding: 40px 0;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: auto;
}

.container h1 {
    padding: 10px 30px;
    text-align: center;
    width: 60%;
    margin: auto;
    color: black;
    font: 30px 'Merienda', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.button {
    background-color: #2d354a;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 10px;
    border: 1px solid transparent;
    border-radius: 18px;
    letter-spacing: 3px;
    margin: 10px;
    text-align: center;
    width: 30%;
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.centre {
    padding: 20px;
    margin: auto;
    text-align: center;
    margin-right: 20px;
}

.labels {
    display: block;
    padding: 30px 30px 12px 0;
    text-align: left;
    width: 70%;
    margin: auto;
    color: #060611;
    font: 18px 'Source Sans Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    background-color: #E6E3F4;
}

.input-field {
    display: block;
    padding: 10px;
    text-align: left;
    width: 70%;
    margin: auto;
    color: black;
    font: 18px 'Source Sans Pro', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    border: 1px solid white;
    border-radius: 4px;
}

table {
    border-spacing: 15px;
    margin: auto;
    /* background-color: white; */
    border-radius: 20px;
}

th,
td {
    padding-right: 36px;
    padding-left: 20px;
}

th {
    text-align: center;
}

input[type=number] {
    border: 1px solid #888888;
}

.quantity {
    padding-right: 0;
}

/* footer */
footer {
    height: auto;
    width: 60%;
    margin: auto;
    padding: 40px 0;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: auto;
    color: white;
}

h3 {
    border-bottom: 2px solid white;
    display: inline-block;
}

.contact {
    float: left;
}

.links {
    float: right;
}

.space,
.links,
.links li {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}